<select style="height:30px; width:260px;" id="depto" placeholder="Departamento" name="depto" required>
    <option value="114041">Aventureiros</option>
    <option value="114061">Desbravadores</option>
    <option value="114101">Jovens</option>
    <option value="114081">Escola Sabatina</option>
    <option value="114121">Min. Adolescente</option>
    <option value="114131">Min. da Criança</option>
    <option value="114151">Min. da Mulher</option>
    <option value="1384">FPC</option>
    <option value="113411">Evang. Semana Santa - Mat</option>
    <option value="114181">Min. Pessoal - Operacional</option>
    <option value="114211">Pequenos Grupos - Operacional </option>
    <option value="114011">Asa - Operacional </option>
    <option value="114031">Associação Ministerial - Operacional </option>
    <option value="114141">Ministério da Família - Operacional </option>
    <option value="113111">Evangelismo Geral </option>
    <option value="113114">Evangelismo Material </option>
</select>