<nav class="navbar navbar-expand-md fixed-top navbar-shrink py-3 align-items-top justify-content-center text-center" id="mainNav">
<div class="container align-items-top justify-content-center text-center">
    <div class="shadow d-flex justify-content-center align-items-center me-2">
   
    </div>
    </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span></button>

        <div class="collapse navbar-collapse align-items-top justify-content-center text-center" id="navcol-1">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/view">Solicitações</a></li>
                <li class="nav-item"><a class="nav-link" href="/teste">Aprovações</a></li>
                <li class="nav-item"><a class="nav-link" href="/lotes">Criar Lote</a></li>
            </ul>
        </div>
</div>
</nav>