<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Caixa ASM</title>
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/iasdfavicon.png">

</head>
<style>
    * {
      box-sizing: border-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0;
    }

    body {
      background-color: #f2f4f8;
      padding: 2rem;
    }

    .navbar {
      display: flex;
      justify-content: center;
      background-color: #fff;
      border: 2px solid #aaa;
      border-radius: 15px;
      margin-bottom: 2rem;
      padding: 1rem;
      gap: 4rem;
    }

    .navbar a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }

    nav {
      background-color: #000;
      padding: 1rem;
      text-align: center;
    }

    nav a {
      color: #fff;
      margin: 0 1rem;
      text-decoration: none;
      font-weight: bold;
    }

    header {
      background-color: #000;
      height: 60px;
    }

    .section-top {
      padding: 3rem 1rem;
      text-align: center;
    }

    .section-top p {
      font-size: 1.6rem;
      font-weight: 500;
    }

    .section-top strong {
      color: green;
    }

    .center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1rem;
    }

    .center h5 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    .center input {
      width: 100%;
      padding: 2px;
      font-size: 1rem;
    }

    .center button {
      width: 100%;
      max-width: 300px;
      padding: 12px;
      font-size: 1rem;
      background-color: #fff;
      color: #000;
      border: 2px solid #000;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s;
    }

    .center button:hover {
      background-color: #000;
      color: #fff;
      border: 2px solid #fff;
    }

    fieldset {
      width: 300px;
      margin: 2px auto;
      border: 2px solid black;
      border-radius: 8px;
      padding: 10px;
    }

    select {
      width: 100%;
      padding: 2px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
</style>
<body>
    <div class="navbar">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/view">Solicitações</a>
        <a class="nav-link" href="/movimentos">Movimentos</a>
    </div>

    <section>
        <div class="center">
            <%- include('./partials/formCartao'); %>
        </div>
    </section>
    
    <script>
    function mascaraMoeda(event) {
        const onlyDigits = event.target.value
            .split("")
            .filter(s => /\d/.test(s))
            .join("")
            .padStart(3, "0")
        const digitsFloat = onlyDigits.slice(0, -2) + "." + onlyDigits.slice(-2)
        event.target.value = maskCurrency(digitsFloat)
        }

        function maskCurrency(valor, locale = 'pt-BR', currency = 'BRL') {
        return new Intl.NumberFormat(locale, {
            style: 'currency',
            currency
        }).format(valor)
        }

        document.getElementById("debito").addEventListener("change", function () {
            if (this.checked) {
                document.getElementById("nun_parcela").remove();
                document.getElementById("label-nun-parcela").remove();
            }
        });

        document.getElementById("credito").addEventListener("change", function () {
            if (this.checked) {
                if (!document.getElementById("nun_parcela")) {
                  const input = document.createElement("input");
                  input.type = "number";
                  input.id = "nun_parcela";
                  input.name = "nun_parcela";

                  const label = document.createElement("label");
                  label.htmlFor = "nun_parcela";
                  label.id = "label-nun-parcela";
                  label.textContent = "Número de Parcelas:";

                  const container = document.getElementById("container-parcela") || document.body;
                  container.appendChild(label);
                  container.appendChild(input);
                }
            }
        }); 
    </script>

    <%- include('./partials/auto_complete'); %>
    <%- include('./partials/script'); %>
</body>

</html>